@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --primary-color: #8ECAE6;
    --secondary-color: #023047;
    --accent1-color: #54c3df;
    --accent2-color: #ff8b44;
    --accent3-color: #f7de6d;

    --heading-font: "Libre Franklin", sans-serif;
    --paragraph-font: "Roboto Slab", serif;

    --nav-background-color: var(--primary-color);
    --nav-link-color: var(--secondary-color);
    --nav-hover-link-color: var(--accent3-color);
    --nav-hover-background-color: var(--accent1-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--paragraph-font);
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    padding: 20px 20px 20px 1px;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    background-color: var(--primary-color);
}

p {
    padding: 15px;
    color: var(--secondary-color);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo-text {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    display: grid;
    justify-content: center;
    font-size: 1.7rem;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-background-color);
}

div {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent2-color);
}

div article {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255,183,3,0.70);
    padding: 15px;
    width: 75%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

#article-image {
    float: right;
    padding: 10px;
    width: 300px;
    height: auto;
}

/* History */
.section1 { 
    display: grid;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    align-content: center;
    
}

.sub-section1 {
    display: flex;
    justify-content: space-around;

}

.history-image {
    padding: 20px;
}

/* Adventure Awaites You */
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f7de6d;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.section2 h2 {
    color: #023047;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.gallery img {
    max-height: 100px;
}

.gallery figure {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    padding: 5px;

}

figcaption {
    padding: 10px;
}

/* footer */
footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    background-color: var(--primary-color);
}

.sociallinks {
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.happy-employees {
    display: flex;
    justify-content: space-around;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    width: 600px;
}

.contact-info h1 {
    font-size: 3em;
}

.employee img {
    height: 300px;
    width: auto;
}

.employee {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    padding: 35px;

}

/* Contact us page */

.section3 {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    padding: 35px;
    background-color: #f7de6d;
}

.section4 {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 450px;

}

.contact-box img {
    height: 25px;
    width: auto;
    align-self: center;
    justify-self: flex-start;
}

.contact-box {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: auto auto auto;
    margin-left: 50px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact h2, h3 {
    padding: 25px 50px 20px 50px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}


.section5 {
    background-color: #f7de6d;
}

form {
    position: relative;
    width: 100%;
    max-width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 5em;
    box-sizing: border-box;
    background-color: #f7de6d;
    border-radius: 10px;

    /* grid */
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}

form h2 {
    font-size: 2.1em;
    font-family: "Libre Franklin", monospace;
    color: #ff8b44;
    text-align: center;
}

button {
    color: white;
    background-color: #ff8b44;
    width: fit-content;
    padding: 10px;
    justify-self: center;
}

button:hover {
    background-color: #d9d9d9;
}

.name-email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.name-email div input {
    width: 100%;
}

.radio-group p, form p {
    color: black;
    padding: 0;
}

.radio-group {
    display: flex;
    flex-direction: column;

}

.radio-group div {
    padding: 0 0 0 25px;
}

.subscribe {
    display: flex;
}

.subscribe label {
    padding: 0 0 0 5px;
}

/* trips page */

.section6 img {
    display: block;
    width: 100%;
    height: auto;
}

.section7 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-items: center;

}

.section7 h1 {
    align-self: center;
    font-size: 3em;
}

.section7 p {
    align-self: center;
    text-align: center;
}

.section8 {
    background-color: #f5f5f5;
    display: grid;
    gap: 4em;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4em;

}

.trip {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trip img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.trip h2 {
    font-size: 1.3em;
}

.trip p {
    padding: 0;
}

.section9 {
    background-color: #f5f5f5;
    padding: 0 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section9 table {
    border-collapse: collapse;
    width: 65%;
    
}

.section9 table th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.section9 table th {
    background-color: grey;
    color: white;
}

.section9 table td {
    background-color: white;
}