@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #780000;
    --secondary-color: #c1121f;
    --accent1-color: #e9ecef;
    --accent2-color: #003049;
    --accent3-color: #669bbc;

    --heading-font: "Playfair Display", serif;
    --paragraph-font: "Open Sans", sans-serif;

    --nav-background-color: #669bbc;
    --nav-link-color: #003049;
    --nav-hover-link-color: #780000;
    --nav-hover-background-color: #669bbc;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: 0.5 em;
    margin: 0;
    background: white;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    font-family: "Playfair Display", serif;
    color: var(--primary-color);
    text-align: center;
}

form {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background-color: var(--accent1-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;

    /* grid */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr;
    align-items: center;
    justify-content: center;
}

legend {
    font-size: 1.3em;
    font-family: Playfair Display, monospace;
    color: var(--primary-color);
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 10px;
    padding: 20px;
    align-items: center;
    border: 2px solid #ced4da;
}

.field1 label {
    grid-column: 1;
    grid-row: auto;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    
}

.field1 input {
    grid-column: 2 / span 2;
    align-self: center;
    height: 2em;
}

.field2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 10px 10px;
    padding: 20px;
    align-items: center;
}

.field2 label {
    grid-column: 1 / span 2;
    grid-row: auto;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.field2 input, select {
    grid-column: 3;
    align-self: center;
    justify-self: left;
    height: 2em;
}

.field2 .lived {
    grid-column: 1 / span 3;

}

.field2 textarea {
    grid-row: 4;
    grid-column: 1 / span 3;
    align-self: center;
}

button {
    color: var(--accent1-color);
    background-color: var(--primary-color);
    width: fit-content;
    padding: 10px;
    justify-self: center;
    border-radius: 5px;
}

button:hover {
    background-color: #003049;
}

footer {
    text-align: center;
}

